.container.chat-container {
  height: 100%;

  border-top: 1px solid #444;
  background: #333;
  color: #fff;
}

.messages {
  flex: 1;

  overflow-y: scroll;
  padding: 1em 1em;
}

.message {
  line-height: 1.5em;
  margin-bottom: .25em;
  
  color: #fffc;
}

.message b {
  color: #fff;
}

.input {
  flex: 0;

  padding: 1em 1em 0 1em;
}

.input > .inner {
  height: 100px;
}

.input textarea {
  width: 100%;
  height: 2em;

  border: 1px solid green;
  background: #444;
  color: #fff;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: inherit;
}

@media screen and (min-width: 959px) {
  .container.chat-container {
    border-top: 0;
  }
  .input > .inner {
    height: 3em;
  }
}
