.container {
  display: flex;
  flex-direction: column;
}

.container.vertical {
  flex-direction: column;
}

.item {
  flex: 1;
}

.accent {
  color: #fc4a1a;
}

.pointer {
  cursor: pointer;
}

.stylish-button {
    height: 2em;
    padding: .5em 1em;
    margin: 0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;

    font-size: 16px;
    color: #fff;
    background: linear-gradient(135deg, #f78433 0%, #fc4a1a 50%, #fc4a1a 100%);
}

.stylish-button:hover {
  background: #fc4a1a; 
}

@media screen and (min-width: 959px) {
  .container {
    flex-direction: row;
  }
}
