.modal.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.modal .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(0,0,0,0.5);
}

.modal .content {
  position: relative;
  width: 100%;
  margin: 0 1em;
  max-height: calc(100vh - 2em);

  background: #fff;
}

.modal .content header {
  flex: 1 0;
}
.modal .content section {
  flex: 1 1; 
}
.modal .content footer {
  flex: 1 0;
}

@media screen and (min-width: 959px) {
  .modal .content {
    margin: 0 auto;
    width: 600px;
  }
}
