nav {
  flex: 0;
  height: 0;
  display: none;
  background: #333;
  border-bottom: 1px solid #444;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul.left {
  float: left;
}
nav ul.right {
  float: right;
}

nav li {
  display: inline-block;
}

nav li a, nav li span {
  display: block;
  height: 50px;
  line-height: 50px;
  min-width: 150px;
  border-left: 1px solid #444;

  font-size: 16px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
nav ul li::first-child {
  border-left: 1px solid #444;
}

nav .header li a, nav .header li span {
  border: 0;
}

nav .logo {
  min-width: 51px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 959px) {
  nav {
    display: block;
    height: 50px;
    width: 100%;
  }
}